<div class="card">
  <div class="card-body">
    <h4 class="card-title">Course Title</h4>
    <h6 class="card-subtitle mb-2 text-muted">by Kristiyan</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer">
    <span>Rating</span>
    <ngb-rating class="mx-2" [(rate)]="currentRate"></ngb-rating>
    <span>{{ currentRate }}</span>
  </div>
</div>
