<h1 class="d-flex justify-content-between">All Courses
  <button *ngIf="isAdmin" type="button" class="btn btn-primary" [routerLink]="['/','admin','courses','edit']">Create</button>
</h1>
<div *ngIf="!manageCourses; else manageCoursesList">
  <div *ngFor="let course of courses">
    <app-course *ngIf="favorites"
                (reload)="reload()"
                [course]="course"
                [ratings]="ratings"
                [favorites]="favorites"></app-course>
  </div>
</div>
<ng-template #manageCoursesList>
  <div *ngFor="let course of courses">
    <app-course-manage [course]="course"
                       (delete)="deleteCourse($event)"></app-course-manage>
  </div>
</ng-template>
