<div class="card mb-5">
  <div class="card-body">
    <h4 class="card-title">{{course.title}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">published at: {{course.publishDate}}</h6>
    <p class="card-text">{{course.description}}</p>
    <button *ngIf="!inFavorites"
            class="btn btn-link"
            (click)="addToFav(course)"
            [disabled]="favoriteIsChanging">
      <i class="fas fa-crown"></i>
      Add to Favorites
    </button>
    <button *ngIf="inFavorites"
            class="btn btn-link"
            (click)="removeFromFav(course)"
            [disabled]="favoriteIsChanging">
      <i class="fas fa-crown"></i>
      Remove from Favorites
    </button>
  </div>
  <div class="card-footer" [class.text-black-50]="rateIsChanging">
    <span>Rating</span>
    <ngb-rating class="mx-2"
                *ngIf="rating"
                [readonly]="rateIsChanging"
                [(rate)]="rating.ratingValue"
                (rateChange)="updateRating($event)"></ngb-rating>
    <span>{{ rating ? rating.ratingValue : 0 }}</span>
  </div>
</div>
