<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{'show': navbarOpen}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/courses']" routerLinkActive="active">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
            </li>
        </ul>
      <ul class="navbar-nav">
        <div class="btn-group dropleft">
          <button type="button"
                  class="btn bg-transparent text-white dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  (click)="toggleProfileDropdown()">
            Username
          </button>
          <div class="dropdown-menu" [ngClass]="{'show': profileOpen}">
            <!-- link to my profile -->
            <a class="dropdown-item cursor-pointer" [routerLink]="['/courses']">My Profile</a>
            <a class="dropdown-item cursor-pointer" [routerLink]="['/courses']">Favorite Courses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursor-pointer" (click)="logout()">Logout</a>
          </div>
        </div>
      </ul>
    </div>
</nav>
